<header id="main-header"></header>

<div class="main-content">
  <div class="welcome-intro">
    <h1>Welcome to BeBloggin</h1>
    <p>Sign in to write something cool.</p>
    <div class="button-set">
      <button class="btn-facebook">Sign in with Facebook</button>
      <button class="btn-google">Sign in with Google</button>
    </div>
  </div>

  <div id="editor-container"></div>
</div>

<!--
<h1>Testing the funky funky waters of antiquity</h1>
<p>
  Donec a bibendum purus. Cras ut tortor vel metus <a href="http://www.espn.com">commodo tristique</a> in vitae nisl. In commodo tellus sit amet aliquet porttitor. Sed id velit elementum, pharetra nunc vel, pellentesque libero. Nam elit justo, venenatis id facilisis at, fringilla at ex. Duis fermentum, orci id tristique pretium, lectus lectus porta est, vel semper nunc metus quis est. Proin ac molestie libero, eu luctus lorem. Aenean eu ligula et ipsum interdum posuere at sit amet urna. Curabitur tristique consequat malesuada. Integer ut est blandit, dignissim ipsum at, posuere eros. Nulla volutpat risus nec ante ultricies, sit amet gravida nisl ornare. Quisque aliquet sem vel odio accumsan accumsan. Nunc consequat gravida vehicula.
</p>
<p>This is best illustrated as so:</p>
<ul>
  <li>
    Duis fermentum, orci id tristique pretium, lectus lectus porta est, vel semper nunc metus quis est. Proin ac molestie libero, eu luctus lorem. Aenean eu ligula et ipsum interdum posuere at sit amet urna
  </li>
  <li>
    Praesent quis fermentum nisi, quis vehicula dolor.
  </li>
  <li>
    Aliquam sit amet justo dictum, mattis quam vitae, imperdiet orci.
  </li>
  <li>
    Morbi a dignissim leo, id aliquam ante. Nullam sodales aliquet semper.
  </li>
</ul>
<p>
  Praesent nec nunc at nulla consequat finibus at ac eros. Nam et odio tellus. Quisque justo arcu, tincidunt at tincidunt scelerisque, ultricies sed nibh. Aliquam sit amet justo dictum, mattis quam vitae, imperdiet orci. Nulla mi sapien, dignissim vel iaculis vitae, aliquam et nulla. Morbi a dignissim leo, id aliquam ante. Nullam sodales aliquet semper. Mauris ac nisi imperdiet est maximus lacinia. Aenean vehicula, mi ut sodales fringilla, mi velit volutpat ipsum, eget ornare mauris velit eu lectus. Aliquam lorem urna, viverra a suscipit eu, ultricies id massa.
</p>

 -->
