<a href="/" class="logo">BeBloggin</a>
<nav>
  <% if (newStories) { %>
  <button class="btn-new-stories"><%= newStories %></button>
  <% } %>
  <% if (!user) { %>
  <!-- <a class="btn btn-login" href="/login">Sign In</a> -->
  <% } else { %>
  <button class="btn-avatar">
    <img src="<%= user.profileImageURL %>" />
  </button>
  <% } %>
</nav>
<div class="avatar-popover-content">
  <ul class="list-unstyled">
    <li>
      <a href="/logout">Sign Out</a>
    </li>
  </ul>
</div>

