<% if (user) { %>
<div class="user-tag-line">
  <img class="avatar" src="<%= user.profileImageURL %>" />
  <span class="display-name"><%= user.displayName %></span>
  <span class="instructions">Make a text selection to see additional styling options.</span>
</div>
<div id="editor"></div>
<div class="button-set">
  <button class="btn-publish btn-highlight">Publish</button>
</div>
<% } %>
