.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: $page-bg-color;
  color: $text-color;
  font-family: $font-family-palatino;
  font-size: 22px;
  padding: 81px 0 50px;
}

a {
  color: $green;

  &:hover, &:focus {
    text-decoration: none;
    color: $green-dark;
  }
}

button, .btn {
  border-radius: 8px;
  border: 1px solid $gray-lighter;
  color: $gray;
  background-color: transparent;
  padding: 12px 15px;
  font-size: 16px;
  @include transition(all 300ms linear);

  &:hover {
    color: $gray-dark;
    border-color: $gray;
  }

  &.btn-highlight {
    color: $green;
    border-color: $green;

    &:hover {
      color: $green-dark;
      border-color: $green-dark;
    }
  }

  &.btn-facebook, &.btn-google {
    color: white;
    border: 0;
  }

  &.btn-facebook {
    background-color: $color-fb;

    &:hover {
      background-color: darken($color-fb, 15%);
    }
  }

  &.btn-google {
    background-color: $color-google;

    &:hover {
      background-color: darken($color-google, 15%);
    }
  }
}

blockquote {
  border-left-color: $gray-light;
  margin: 15px 0;
}

p {
  margin: 15px 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border: 1px solid $gray-lighter;
  border-radius: 50%;
}

.user-tag-line {
  .avatar {
    margin-right: 5px;
  }

  .display-name {
    color: $brand-primary;
    font-size: 14px;
  }
}

#main {
  padding: 0 15px;

  .main-content {
    max-width: 800px;
    margin: 0 auto;

    .welcome-intro {
      margin-bottom: 15px;

      p {
        margin-left: 6px;
        padding: 5px 0;
      }

      .button-set {
        button {
          margin-right: 5px;

          @include mq($until: mobileLandscape) {
            display: block;
            margin-top: 15px;
            width: 200px;
          }
        }
      }
    }

    .github-banner {
      position: fixed;
      bottom: 0;
      right: 0;
      border: 0;
      width: 125px;
      height: 125px;
      background: url(../images/github-banner.png) top center / 125px 125px no-repeat;

      @include mq($until: tablet) {
        width: 100px;
        height: 100px;
        background-size: 100px 100px;
      }
    }
  }
}

.user-logged-out {
  #main .main-content {
    .welcome-intro {
      display: block;
    }

    #editor {
      display: none;
    }
  }
}

.user-logged-in {
  #main .main-content {
    .welcome-intro {
      display: none;
    }

    #editor {
      display: block;
    }
  }
}
