#main-header {
  background-color: $page-bg-color;
  padding: 15px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include transition(box-shadow 100ms ease);

  &.scrolled-under {
    // TODO: how about a box-shadow mixin?
    -webkit-box-shadow: 0px -12px 18px 13px $gray-dark;
    -moz-box-shadow: 0px -12px 18px 13px $gray-dark;
    box-shadow: 0px -12px 18px 13px $gray-dark;
  }

  .logo {
    color: $gray-darker;
    font-size: 36px;
    font-family: $font-family-century-georgia;
    letter-spacing: -1px;
  }

  nav {
    float: right;

    & > * {
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }

      &.btn-avatar {
        margin-right: 5px;
      }
    }

    .btn-new-stories {
      background-color: $green-dark;
      color: white;
      border: none;
      padding: 6px 12px;
      position: relative;
      top: 2px;
    }

    .btn-avatar {
      padding: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-top: 5px;

      &:hover {
        border-color: $gray-light;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .popover {
      width: 100px;
      margin-top: 15px;
      margin-left: -15px;

      .arrow {
        margin-left: 3px;
      }

      ul {
        margin-bottom: 0;

        a {
          color: $gray-light;

          &:hover {
            color: $gray;
          }
        }
      }
    }
  }

  .avatar-popover-content {
    display: none;
  }
}
