#editor-container {
  position: relative;

  .user-tag-line {
    position: absolute;

    span {
      opacity: 0;
    }

    .instructions {
      display: block;
      font-size: 18px;
      font-style: italic;
      color: $gray-light;
      margin-top: 10px;
    }
  }

  #editor {
    padding-top: 85px;
    min-height: 100px;

    &:focus {
      outline: none;
    }

    &::after {
      margin-left: 50px;
      margin-top: 7px;
      cursor: text;
    }

    @include mq($until: mobileLandscape) {
      padding-top: 110px;
    }
  }

  .button-set {
    max-height: 0;
    opacity: 0;
  }

  .placeholder-off {
    .user-tag-line span {
      opacity: 1;
    }

    #editor {
      min-height: 200px;

      &:after {
        opacity: 0;
      }
    }

    .button-set {
      padding-top: 30px;
      padding-bottom: 30px;
      max-height: 150px;
      opacity: 1;
    }
  }
}

.user-logged-in {
  #editor-container {
    border-bottom: 1px solid $gray-lighter;
  }
}
